@import "./vars.scss";

*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    color: $text-color;
    font-weight: 300;
    outline: none;
}

.app
{
	display: grid;
	grid-template-areas: "nav"
                         "content";
	grid-template-rows: 50px auto;
	grid-template-columns: auto;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}